@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuHorizontal {
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 87px 14px 29px;
  background-color: #020203;
  position: sticky;
  z-index: 1;
}
.menuHorizontal__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
}
.menuHorizontal__link:hover {
  color: #FF0101;
}
.menuHorizontal .active {
  text-decoration: double;
}

.menuVertical {
  position: absolute;
  background-color: #020203;
  height: 100vh;
  width: 117px;
  padding-bottom: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
}
.menuVertical__icon--block {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}
.menuVertical__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  transform: rotate(-90deg);
  width: 138px;
  position: absolute;
  bottom: 108px;
}

.dropdown__button {
  display: flex;
  cursor: pointer;
}
.dropdown__button--title {
  position: relative;
  margin-right: 1rem;
}
.dropdown__content {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100vw;
  background-color: #020203;
  padding: 25px 10px 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.salutation {
  width: 100%;
}
.salutation__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  color: #020203;
  line-height: 24px;
}
.salutation__title span {
  color: #FF0101;
}
.salutation__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #020203;
  line-height: 24px;
  margin-top: 41px;
}

.userInfo {
  width: 258px;
  height: 124px;
  display: flex;
  align-items: center;
  background-color: #FBFBFB;
  border-radius: 5px;
}
.userInfo__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  margin-left: 32px;
  border-radius: 6px;
}
.userInfo__icon.calories {
  background-color: rgba(255, 1, 1, 0.102);
}
.userInfo__icon.proteines {
  background-color: rgba(74, 184, 255, 0.102);
}
.userInfo__icon.glucides {
  background-color: rgba(249, 207, 36, 0.102);
}
.userInfo__icon.lipides {
  background-color: rgba(253, 81, 129, 0.1);
}
.userInfo__data--value {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #020203;
  line-height: 24px;
}
.userInfo__data--name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #74798C;
  line-height: 24px;
}

.activity {
  width: 835px;
  height: 320px;
  background-color: #FBFBFB;
  border-radius: 5px;
  position: absolute;
  padding: 24px 26px 23px 32px;
}
.activity__Title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #20253A;
  line-height: 24px;
  position: absolute;
}
.activity__legend {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #74798C;
  line-height: 24px;
}
.activity__tooltip {
  background-color: #FF0101;
  height: 63px;
  width: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.activity__tooltip--num {
  font-family: Roboto;
  font-size: 7px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}

.recharts-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #74798C;
  line-height: 24px;
}

.performance {
  height: 263px;
  width: 258px;
  background-color: #282d30;
  border-radius: 5px;
  color: #fff;
  padding: 12px 5px;
}

.sessions {
  position: relative;
  height: 263px;
  width: 258px;
  background-color: #ff0000;
  border-radius: 10px;
  margin-right: 2%;
}
.sessions__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #20253A;
  line-height: 24px;
  color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 5%;
  left: 20px;
  width: 147px;
  height: 48px;
}

.score {
  height: 263px;
  width: 258px;
  padding: 24px 30px;
  background-color: #FBFBFB;
  border-radius: 5px;
}
.score__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #20253A;
  line-height: 24px;
  top: 4%;
  left: 4%;
}
.score__graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.score__graphic--texte {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #74798C;
  line-height: 24px;
  flex-direction: column;
  position: absolute;
  width: 95px;
  height: 56px;
  text-align: center;
}

.pourcent {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #020203;
  line-height: 24px;
  font-size: 26px;
  margin-bottom: 5px;
}

.recharts-pie-sector {
  stroke-linejoin: round;
  stroke-width: 10px;
}

.reglage {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  width: 100%;
}
.reglage__img {
  margin: 0 10px;
}

.dataSection {
  position: absolute;
  top: 159px;
  left: 224px;
  max-width: 1126px;
  max-height: 779px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dataSection__chart {
  height: 613px;
  width: 100%;
  position: relative;
}
.dataSection__chart--userInfo {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dataSection__chart--dis {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 835px;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
