.dataSection {

    position: absolute;
    top: 159px;
    left: 224px;
    max-width: 1126px;
    max-height: 779px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include smaller {
        max-width: 885px;
        max-height: 660px;
        top: 105px;
        left: 125px;
    }

    &__chart {
        height: 613px;
        width: 100%;
        position: relative;

        @include smaller {
            height: 100%;
        }

        &--userInfo {
            position: absolute;
            right: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--dis {
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 835px;
            bottom: 0;

            @include smaller {
                width: 660px;
            }
        }
    }
}