$fonts : (links : (family : $font,
        weight : 500,
        size : 24px,
        colour : $colourWhite,
        line-height : 24px),
    text : (family : $font,
        weight : 400,
        size : 18px,
        colour : $colourBlack,
        line-height : 24px),
    title-black : (family : $font,
        weight : 500,
        size : 48px,
        colour : $colourBlack,
        line-height : 24px),
    title-red : (family : $font,
        weight : 500,
        size : 48px,
        colour : $colourRed,
        line-height : 24px),
    copyright: (family : $font,
        weight : 500,
        size : 12px,
        colour : $colourWhite,
        line-height : 24px),
    info:(family : $font,
        weight : 700,
        size : 20px,
        colour : $colourBlack,
        line-height : 24px),
    info-note:(family : $font,
        weight : 500,
        size : 14px,
        colour : $colourNote,
        line-height : 24px),
    info-titre:(family : $font,
        weight : 500,
        size : 15px,
        colour : $colourNoteTitle,
        line-height : 24px));