$fonts : (links : (family : $font,
        weight : 500,
        size : 24px,
        colour : $colourWhite,
        line-height : 24px),
    text : (family : $font,
        weight : 400,
        size : 18px,
        colour : $colourBlack,
        line-height : 24px),
    title-black : (family : $font,
        weight : 500,
        size : 48px,
        colour : $colourBlack,
        line-height : 24px),
    title-red : (family : $font,
        weight : 500,
        size : 48px,
        colour : $colourRed,
        line-height : 24px),
    copyright: (family : $font,
        weight : 500,
        size : 12px,
        colour : $colourWhite,
        line-height : 24px));