@mixin fonts($state) {
    $divers: map-get($fonts, $state);
    font-family: map-get($divers, family);
    font-weight: map-get($divers, weight);
    font-size: map-get($divers, size);
    color: map-get($divers, colour);
    line-height: map-get($divers, line-height);
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin smaller {
    @media screen and (max-width : map-get($breakpoints, smaller)) {
        @content;
    }
}

@mixin cards {
    height: 263px;
    width: 258px;

    @include smaller {
        width: 200px;
        height: auto;
    }
}