$colourBlack : #020203;
$colourWhite : #fff;
$colourRed : #FF0101;
$colourGraphB : #282D30;
$coulourGraphR : #E60000;
$colourInfo : #FBFBFB;
$colourNote : #74798C;
$colourNoteTitle : #20253A;


$font: 'Roboto',
sans-serif;