.sessions {
    position: relative;
    @include cards;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 0 15px;

    &__text {
        @include fonts(info-titre);
        color: $colourWhite;
        opacity: 0.5;
        position: absolute;
        top: 5%;
        left: 20px;
        width: 147px;
        height: 48px;
    }
}